.app-header {
color: $almost-black;
box-shadow: rgb(0 0 0 / 19%) 0px 1px 5px;
font-size: 1.1rem;
position: sticky;
top: 0;
background-color: white;


    .logo-container {
        display: flex;
        gap: 10px;
        img {
            width: 40px;
            height: 40px;
        }
    }

    h2 {
        font-size: 2.2rem;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

    }

    nav {
        display: flex;
        align-items: center;
        gap: 40px;

        img {
            margin: 0;
            padding-right: 40px;
        }
    }

    .router-link-active:not(.logo){
        color: $p-clr1;
    }
}