.contact-edit {
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 10px;
    padding-top: 80px;
    position: relative;

    input {
        border: 1px solid $almost-black;
        padding: 5px 10px;
        border-radius: 10px;
        width: 250px;
    }

    button {
        margin-top: 30px;
    }

    a {
        position: absolute;
        right: 20px;
        span {
            padding-top: 20px;
            font-size: 2rem;
        }
    }
}