.contact-edit {
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 10px;
    padding-top: 50px;

    input {
        border: 1px solid $almost-black;
        padding: 5px 10px;
        border-radius: 10px;
        width: 250px;
    }

    button {
        margin-top: 30px;
    }
}