.home {
    padding: 0%0;
    
    .home-hero {
        text-align: center;
        color: $almost-white;
        background-image: url('../img/home-background1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;

        button{
            color: $almost-white;
            border-color: $almost-white;

            &:hover{
                color: black;
                background-color: rgba(255, 255, 255, 0.358);
                border-color: rgba(255, 255, 255, 0.358);
            }
        }
    }

    .title {
        padding: 80px 0 50px;
    }

    .subtitle {
        color: rgb(162, 162, 172);
        padding-bottom: 30px;
        font-size: 1.4rem;
        margin: 0;
    }
}